<h1 class="text-center fw-bold pb-3">All Movies</h1>
  <div class="row justify-content-between">
    <% @movies.each do |movie| %>
      <div class="card col-3 p-3 m-5">
        <img src=<%= movie.poster_url %> class="card-img-top" alt="<%= movie.title %>">
        <div class="card-body">
        <h5 class="card-title fw-bold"><%= movie.title %></h5>
        <p class="card-text"><%= movie.overview %></p>
        <p class="card-text">Rating: <strong><%= movie.rating %> ⭐️</strong></p>
        </div>
      </div>
    <% end %>
  </div>
