<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar bg-light">
      <div class="container p-3">
        <%= link_to "Watchlist", root_path, class: "navbar-brand fw-bold text-dark h2" %>
        <div class="text-end">
        <%= link_to "All movies", movies_path, class: "fs-6 pe-5 text-decoration-none navlink" %>
        <%= link_to "All lists", lists_index_path, class: "fs-6 pe-5 text-decoration-none navlink" %>
        <%= link_to "Add bookmark", bookmarks_new_path, class: "fs-6 text-decoration-none navlink" %>
        </div>
      </div>
    </nav>
    <div class="fullpage">
      <%= yield %>
    </div>
    <div class="row-fluid bg-dark py-3 text-center text-light">
      <h4 class="pt-3">Watchlist</h4>
      <p class="tiny">Made with <i class="fas fa-heart"></i> in Montreal</p>
    </div>
  </body>
</html>
