<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <nav class="navbar bg-light">
    <div class="container px-3">
      <%= link_to "Watch List", root_path, class: "navbar-brand fw-bold text-dark" %>
      <div class="text-end">
      <%= link_to "All movies", movies_path, class: "fs-6 text-dark pe-5 text-decoration-none" %>
      <%= link_to "All lists", lists_index_path, class: "fs-6 text-dark pe-5 text-decoration-none" %>
      <%= link_to "Add bookmark", bookmarks_new_path, class: "fs-6 text-dark text-decoration-none" %>
      </div>
    </div>
  </nav>
    <div class="container py-5">
     <%= yield %>
    </div>
  </body>
</html>
